@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #F3BD0E;
  background-image: url(../images/wave_bg.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
main .card {
  width: 330px;
  height: 425px;
  background-color: #F3BD0E;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  box-shadow: 7px 8px 0px 0px black;
  border: 2px solid #252525;
  border-radius: 0.3em;
}

label {
  color: #252525;
  font-weight: 600;
}

.separate {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  justify-content: center;
  flex-wrap: wrap;
}

button {
  padding: 10px 25px;
  border: none;
  text-align: center;
  background-color: #FFFFFF;
  color: #252525;
  font-size: 0.9rem;
  border-radius: 0.3em;
  font-weight: 600;
}

button:hover {
  background-color: #080808;
  color: white;
  cursor: pointer;
}

button:active {
  background-color: #FFFFFF;
  color: #252525;
}

#output {
  color: #252525;
  overflow: auto;
  width: 220px;
  height: 120px;
  overflow-y: auto;
  line-break: anywhere;
  border-radius: 0.3em;
  border: 2px solid rgba(37, 37, 37, 0.5647058824);
}

p {
  color: #252525;
  font-weight: 600;
}

input {
  border: 2px solid rgba(37, 37, 37, 0.5647058824);
  width: 200px;
  height: 35px;
  text-align: center;
  background-color: #F3BD0E;
  border-radius: 0.3em;
}

input:focus {
  outline-style: none;
  border: 2px solid #252525;
}